@model IEnumerable<Domain.Entities.Agents>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:mediumspringgreen"><center>Agents</center></h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAgent }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAgent }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAgent })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>